<ion-header>

  <ion-navbar>
    <ion-title>{{ item.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + item.image + ')'">
  </div>

  <div class="item-detail" padding>
    <h2>{{item.name}}</h2>
    <ion-note item-end *ngIf="item.category">{{item.category}}</ion-note>
    <link *ngIf="item.link" href="item.link">
    <ion-buttons end><button ion-button clear (click)="showMap()">See on map</button></ion-buttons>
    <p class="paragraph">{{item.long_description}}</p>
  </div>
</ion-content>
