<!--<ion-header *ngIf="true">-->

  <!--<ion-navbar>-->
    <!--<ion-title>{{tabsRoot[selectedTab].title}}</ion-title>-->
    <!--<ion-buttons end>-->
      <!--<button ion-button icon-only (click)="search()">-->
        <!--<ion-icon name="search"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->
  <!--</ion-navbar>-->

<!--</ion-header>-->


<ion-content>

  <ion-tabs #myTabs>
    <ion-tab *ngFor="let tab of tabsRoot" [root]="tab.root" [tabTitle]="tab.title" [tabIcon]="tab.icon"></ion-tab>
  </ion-tabs>

  <!--<ion-nav #content [root]="content"></ion-nav>-->
</ion-content>

