<ion-content>

  <ion-list>
    <ion-item-group *ngFor="let m of months">
      <ion-item-divider color="light">{{m}}</ion-item-divider>
      <div *ngFor="let item of currentItems">
      <button *ngIf="item" ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.image" />
        </ion-avatar>
        <h2>{{item.title}}</h2>
        <p>{{item.date}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>
      </div>
    </ion-item-group>
  </ion-list>

</ion-content>
