<ion-content>

  <ion-list>
    <ion-item-group *ngFor="let m of months">
      <ion-item-divider color="light">{{m}}</ion-item-divider>
      <div *ngFor="let item of currentItems">
      <button *ngIf="item" ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <ng-container *ngIf="item.image; then customImage; else defaultImage"></ng-container>
          <ng-template #customImage><div><img [src]="item.image" /></div></ng-template>
          <ng-template #defaultImage><div><img [src]="default_img_path" /></div></ng-template>
        </ion-avatar>
        <h2>{{item.title}}</h2>
        <p>{{item.date | date:'MMMM d, y  h:mm a'}}</p>
      </button>
      </div>
    </ion-item-group>
  </ion-list>

</ion-content>
