page-home {

  .title {
    height: 30px;
    padding-top: 40px;
  }

  .tab {
    width: 70%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
  }

  .text {
    text-transform: lowercase;
    padding-top: 10%;
    font-family: "Courier New", SansSerif, monospace;
  }

  .buttons {
    padding-top: 40%;
  }

  #ion-header {
    //height: 30%;
  }
}
