<ion-header>

  <ion-navbar>
    <ion-title>Search</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Search , e.g. Engineering"></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
      <ion-avatar item-start>
        <ng-container *ngIf="item.image; then customImage; else defaultImage"></ng-container>
        <ng-template #customImage><div><img [src]="item.image" /></div></ng-template>
        <ng-template #defaultImage><div><img [src]="default_img_path" /></div></ng-template>
      </ion-avatar>
      <div *ngIf="item.name"><h2>{{item.name}}</h2></div>
      <div *ngIf="item.title"><h2>{{item.title}}</h2></div>
      <div *ngIf="item.short_description"><p>{{item.short_description}}</p></div>
      <div *ngIf="item.date"><p>{{item.date}}</p></div>
      <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
    </button>
  </ion-list>
</ion-content>
