page-trolley-list {
  .card-title {
      position: absolute;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
    }

  img {
    display: inline-block;
    border: 20px #007aff;
    padding: 200px;
    height: 50%;
  }
}


